* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  border: transparent;
  background-color: transparent;
}
.empty {
  top: 0;
  left: 0;
  position: absolute;
}
.main-bg {
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #404eed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.moving-bg {
  z-index: 10;
  position: absolute;

  width: 100%;
  height: 100%;
}
.blob {
  position: absolute;
  width: 100%;
  height: 100%;
}
.app-title {
  color: #fff;
  font-size: 25px;
  font-weight: 800;
  position: absolute;
  top: 0;
  text-align: left;
  z-index: 10;
  align-self: flex-start;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 3px;
}
.app-title .logo {
  font-size: 40px;
}
.login-card,
.reg-card {
  overflow: auto;
  max-height: 80%;
  position: absolute;
  margin: 10px;
  z-index: 10;
  padding: 30px;
  border-radius: 20px;
  background-color: #36393f;
  width: 80%;
  max-width: 380px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
}
.card-title {
  color: #fff;
  font-size: 20px;
  padding: 0;
  margin: 0 0 5px 0;
  text-align: center;
}
.card-subtitle {
  color: #b9bbbe;
  margin: 0 0 10px 0;
  font-weight: 100;
  text-align: center;
}
.cred-tab {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 600;
  gap: 5px;
  width: 100%;
  position: relative;
}
.cred-tab.flex-row {
  flex-direction: row;
}
.cred-tab p {
  color: #b0b2b5;
  margin: 0;
}
.cred-input {
  background-color: #fff;
  border-radius: 2px;
  outline: none;
  border: transparent;
  padding: 8px;
  color: #000;
}
.cred-input.dark {
  background-color: #202225;
  color: #b9bbbe;
}
.cred-input.select {
  width: 100%;
}
.red-font {
  color: #ff0000;
}
.cred-tab .instruction {
  z-index: 10;
  border-radius: 2px;
  width: 100%;
  background-color: #111111;
  position: absolute;
  gap: 5px;
  align-items: center;
  padding: 0 10px;
  font-size: 12px;
  color: #fff;
  display: none;
}
.cred-tab .instruction.small {
  height: 30px;
  bottom: -35px;
}
.cred-tab .instruction.big {
  height: 95px;
  bottom: -100px;
}
.cred-tab .open {
  display: flex !important;
}
.cred-tab .instruction::after {
  position: absolute;
  left: 50%;
  top: -10px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 13px 7.5px;
  border-color: transparent transparent #111111 transparent;
}

.instruction-desc {
  max-width: 240px;
}
.dob-column {
  width: 100%;
  display: flex;
  gap: 10px;
}
input[type="checkbox"].checkmark {
  width: 20px;
  height: 20px;
  margin: 0;
}
.cred-tab .error-section {
  height: 30px;
}
.error-section .error-box {
  max-width: 100%;
  padding: 0 10px;
  max-height: 100%;
  height: 100%;
  background-color: #da492f;
  display: flex;
  align-items: center;
  font-size: 13px;
  gap: 10px;
  color: #fff;
}
.error-box .logo {
  font-size: 17px;
  color: #fff;
}
.login-button {
  padding: 10px;
  width: 100%;
  color: #fff;
  background-color: #5865f2;
  outline: none;
  border: transparent;
  border-radius: 4px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s linear;
}

.login-button:hover {
  background-color: #4752c4;
}
.card-smalltext {
  margin: 10px 0 0 0;
  color: #b9bbbe;
}
.welcome-hyperlink {
  font-weight: 400;
  font-size: 14px;
  color: #00aff4;
}
.welcome-hyperlink:hover {
  text-decoration: underline;
  cursor: pointer;
}
.github-href {
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 3rem;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;
  z-index: 10;
}
.github-href .logo {
  z-index: 10;
}
.github-href .logo:hover {
  animation: github 1s ease forwards;
}
.modal-bg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.modal-box {
  width: 330px;
  max-width: 330px;
  border-radius: 10px;
  background-color: #36393f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
}
.modal-box-title {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  display: flex;
}
.modal-box.vertical {
  flex-direction: column;
}
.modal-box-loading .loading {
  animation: spin 1s linear infinite;
}
.modal-box-content {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.modal-box .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.modal-box .button-container button {
  padding: 8px 15px;
  cursor: pointer;
  color: #fff;
  background-color: #202225;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.2s ease;
}
.modal-box .button-container .logout:hover {
  background-color: #ff0000;
}
.main-body {
  width: 100vw;
  height: 100vh;
  background-color: #202225;
  display: flex;
  flex-direction: column;
}
.top-title {
  font-weight: 800;
  max-height: 28px;
  padding: 2px 5px;
  color: #9a9da1;
}
.content-area {
  display: flex;
  width: 100%;
  flex: 2;
}
.group-tab {
  width: 70px;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: center;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.group-button {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #36393f;
  border-radius: 50%;
  color: #fff;
  width: 48px;
  height: 48px;
  transition: all 0.1s ease;
  margin: 10px auto;
  cursor: pointer;
  position: relative;
}
.group-button.logout {
  margin-bottom: 0;
  font-size: 18px;
}
.group-button.active,
.group-button:hover {
  border-radius: 10px;
  background-color: #5865f2;
}

.group-button:hover .group-desc {
  display: block;
}

.group-desc {
  position: fixed;
  font-weight: 600;
  font-size: 14px;
  left: 90px;
  z-index: 20;
  background-color: #18191c;
  padding: 7px;
  border-radius: 4px;
  display: none;
}

.group-desc::after {
  position: absolute;
  left: -18px;
  bottom: 12px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 10px 5px 10px;
  border-color: transparent #18191c transparent transparent;
}

.seperate-line {
  width: 40px;
  height: 2px;
  background-color: #36393f;
  margin: 10px auto;
  border-radius: 10px;
}
@keyframes github {
  0% {
    font-size: 3rem;
    transform: rotateZ(0);
  }
  10% {
    font-size: 4rem;
  }
  20% {
    transform: rotateZ(30deg);
  }
  40% {
    transform: rotateZ(-30deg);
  }
  60% {
    transform: rotateZ(30deg);
  }
  80% {
    transform: rotateZ(-30deg);
  }
  100% {
    font-size: 4rem;
    transform: rotateZ(0deg);
  }
}
@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@media only screen and (max-width: 600px) {
  .app-title {
    position: relative;
    align-self: center;
  }
  .login-card,
  .reg-card {
    padding: 15px;
    border-radius: 5px;
  }

  .github-href {
    position: relative;
  }
  .login-card,
  .reg-card {
    position: relative;
  }
}
