* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  border: transparent;
  background-color: transparent;
}
.empty {
  top: 0;
  left: 0;
  position: absolute;
}
.relative {
  margin-top: 10px;
  position: relative;
}
.main-bg {
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #404eed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.loading-screen {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #292b2f;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
  flex-direction: column;
  gap: 20px;
}
.loading-screen .logo {
  width: 200px;
  height: 200px;
  color: #fff;
  position: relative;
  font-size: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #383a40;
  padding: 40px;
}

.loading-screen .logo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(56, 58, 64, 0.5);
  border-radius: 50%;
  animation: pulse 1s linear 0.25s infinite;
}
.loading-screen .logo svg {
  z-index: 10;
}
.loading-screen .loading-text {
  font-size: 1.1rem;
  color: #fff;
}
.moving-bg {
  z-index: 10;
  position: absolute;

  width: 100%;
  height: 100%;
}
.blob {
  position: absolute;
  width: 100%;
  height: 100%;
}
.app-title {
  color: #fff;
  font-size: 25px;
  font-weight: 800;
  position: absolute;
  top: 0;
  text-align: left;
  z-index: 10;
  align-self: flex-start;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 3px;
}
.app-title .logo {
  font-size: 40px;
}
.login-card,
.reg-card {
  overflow: auto;
  max-height: 80%;
  position: absolute;
  margin: 10px;
  z-index: 10;
  padding: 30px;
  border-radius: 20px;
  background-color: #36393f;
  width: 80%;
  max-width: 380px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
}
.card-title {
  color: #fff;
  font-size: 20px;
  padding: 0;
  margin: 0 0 5px 0;
  text-align: center;
}
.card-subtitle {
  color: #b9bbbe;
  margin: 0 0 10px 0;
  font-weight: 100;
  text-align: center;
}
.cred-tab {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 600;
  gap: 5px;
  width: 100%;
  position: relative;
}
.cred-tab.flex-row {
  flex-direction: row;
}
.cred-tab p {
  color: #b0b2b5;
  margin: 0;
}
.cred-input {
  background-color: #fff;
  border-radius: 2px;
  outline: none;
  border: transparent;
  padding: 8px;
  color: #000;
}
.cred-input.dark {
  background-color: #202225;
  color: #b9bbbe;
}
.cred-input.select {
  width: 100%;
}
.red-font {
  color: #ff0000;
}
.cred-tab .instruction {
  z-index: 10;
  border-radius: 2px;
  width: 100%;
  background-color: #111111;
  position: absolute;
  gap: 5px;
  align-items: center;
  padding: 0 10px;
  font-size: 12px;
  color: #fff;
  display: none;
}
.cred-tab .instruction.small {
  height: 30px;
  bottom: -35px;
}
.cred-tab .instruction.big {
  height: 95px;
  bottom: -100px;
}
.cred-tab .open {
  display: flex !important;
}
.cred-tab .instruction::after {
  position: absolute;
  left: 50%;
  top: -10px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 13px 7.5px;
  border-color: transparent transparent #111111 transparent;
}

.instruction-desc {
  max-width: 240px;
}
.dob-column {
  width: 100%;
  display: flex;
  gap: 10px;
}
input[type="checkbox"].checkmark {
  width: 20px;
  height: 20px;
  margin: 0;
}
.cred-tab .error-section {
  height: 30px;
}
.error-section .error-box {
  max-width: 100%;
  padding: 0 10px;
  max-height: 100%;
  height: 100%;
  background-color: #da492f;
  display: flex;
  align-items: center;
  font-size: 13px;
  gap: 10px;
  color: #fff;
}
.error-box .logo {
  font-size: 17px;
  color: #fff;
}
.login-button {
  padding: 10px;
  width: 100%;
  color: #fff;
  background-color: #5865f2;
  outline: none;
  border: transparent;
  border-radius: 4px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s linear;
}

.login-button:hover {
  background-color: #4752c4;
}
.card-smalltext {
  margin: 10px 0 0 0;
  color: #b9bbbe;
}
.welcome-hyperlink {
  font-weight: 400;
  font-size: 14px;
  color: #00aff4;
}
.welcome-hyperlink:hover {
  text-decoration: underline;
  cursor: pointer;
}
.github-href {
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 3rem;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;
  z-index: 10;
}
.github-href .logo {
  z-index: 10;
}
.github-href .logo:hover {
  animation: github 1s ease forwards;
}
.modal-bg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.modal-box {
  width: 330px;
  max-width: 330px;
  border-radius: 10px;
  background-color: #36393f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
}
.modal-box.big {
  width: 480px;
  max-width: 480px;
}
.modal-box-title {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  width: 100%;
  align-items: center;
}
.modal-box-title.between {
  justify-content: space-between;
}
.modal-box-title .close-button {
  color: #aaafb5;
  font-size: 30px;
  cursor: pointer;
}
.modal-box-title .close-button:hover {
  color: #fff;
}
.modal-box.vertical {
  flex-direction: column;
}
.modal-box.no-bot {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.modal-box .loading {
  animation: spin 1s linear infinite;
}
.modal-box-content {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.modal-box .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.modal-box .button-container button {
  padding: 8px 15px;
  cursor: pointer;
  color: #fff;
  background-color: #202225;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.2s ease;
}
.modal-box .button-container .logout:hover {
  background-color: #ff0000;
}
.modal-body {
  flex: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-body.vertical {
  flex-direction: column;
}
.modal-desc {
  text-align: center;
  margin: 10px 20px;
  display: block;
  font-size: 14px;
}
.server-image {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  background: #202225;
}
.server-upload-button {
  position: relative;
  margin-top: 10px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px dashed #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.server-upload-button .camera-sign {
  width: 45%;
  height: 45%;
}
.server-upload-button span {
  font-size: 10px;
  font-weight: 600;
}
.server-upload-button .plus-button,
.remove-server-image-button {
  border-radius: 50%;
  background-color: #404eed;
  color: #fff;
  width: 28%;
  height: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
.remove-server-image-button {
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.server-error-box {
  height: 30px;
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.server-name-error {
  color: #fff;
  background-color: #454c98;
  width: 100%;
  font-size: 13px;
  padding: 5px;
}
.add-image-input,
.server-image-input {
  display: none;
}
.modal-body .add-image {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #292b2f;
  border: transparent;
  border-radius: 10px;
  height: 200px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
.server-name-container {
  margin-top: 10px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.server-name-container span {
  text-align: left;
  font-size: 12px;
  font-weight: 600;
}
.server-name-container .server-input {
  border-radius: 2px;
  outline: none;
  border: transparent;
  padding: 8px;
  background-color: #202225;
  color: #b9bbbe;
}
.add-image .logo {
  width: 75%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #5865f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo .logo-svg {
  color: #fff;
  font-size: 40px;
}
.logo-text {
  font-size: 14px;
  color: #aaafb5;
  font-weight: 600;
}

.add-image:hover .logo-text {
  color: #fff;
}

.cropper-zone {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  background-color: #292b2f;
  width: 100%;
  max-height: 300px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-logo {
  color: #8a8a8a;
  font-size: 50px;
  animation: spin 2s linear infinite;
}
.cropper-zone .reactEasyCrop_CropArea {
  border: 3px solid #fff !important;
}
.zoom-container {
  display: flex;
  margin: 0 auto;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.zoom {
  color: #fff;
}
.zoom.small {
  font-size: 25px;
}
.zoom.big {
  font-size: 35px;
}
input[type="range"].zoom-slider {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 250px;
  border-radius: 5px;
  height: 7px;
  background-color: #4e5058;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 10px;
  border-radius: 2px;
  background: #fff;
  cursor: ew-resize;
  border: transparent;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 10px;
  border-radius: 2px;
  background: #fff;
  cursor: ew-resize;
  border: transparent;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 10px;
  border-radius: 2px;
  background: #fff;
  cursor: ew-resize;
  border: transparent;
}
input[type="range"]::-moz-range-progress {
  background-color: #5865f2;
  height: 7px;
  border-radius: 5px;
}
.zoom-button-container,
.create-server-button-container {
  padding: 20px;
  border-radius: 0 0 10px 10px;
  background: #2b2d31;
  width: 480px;
  max-width: 480px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.create-server-button-container {
  padding: 10px;
  justify-content: flex-end;
  width: 330px;
}
.zoom-button-container .right-container {
  display: flex;
  gap: 10px;
}
.zoom-button,
.create-server-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}
.zoom-button:disabled,
.create-server-button:disabled {
  color: #8a8a8a;
  cursor: auto;
  text-decoration: none !important;
}
.zoom-button.blue,
.create-server-button {
  background-color: #5865f2;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  text-align: center;
  width: 65px;
  height: 26px;
}
.zoom-button.blue.load,
.create-server-button.load {
  background-color: #454c98;
}
.zoom-button.blue:hover,
.create-server-button:hover {
  text-decoration: none;
  background-color: #454c98;
}
.zoom-button:hover {
  text-decoration: underline;
}
.load-container {
  display: flex;
  justify-content: center;
  gap: 7px;
}
.load-container div {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #8a8a8a;
  animation: dot 1.3s ease-in-out infinite;
}
.load-container div:nth-child(1) {
  animation-delay: 0s;
}
.load-container div:nth-child(2) {
  animation-delay: 0.2s;
}
.load-container div:nth-child(3) {
  animation-delay: 0.4s;
}

.modal-box-title .close-button {
  color: #aaafb5;
  font-size: 30px;
  cursor: pointer;
}
.modal-box-title .close-button:hover {
  color: #fff;
}
.modal-body {
  flex: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-image-input {
  display: none;
}
.modal-body .add-image {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #292b2f;
  border: transparent;
  border-radius: 10px;
  height: 200px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
.add-image .logo {
  width: 75%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #5865f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo .logo-svg {
  color: #fff;
  font-size: 40px;
}
.logo-text {
  font-size: 14px;
  color: #aaafb5;
  font-weight: 600;
}

.add-image:hover .logo-text {
  color: #fff;
}

.main-body {
  width: 100vw;
  height: 100vh;
  background-color: #202225;
  display: flex;
  flex-direction: column;
}
.main-body.center {
  justify-content: center;
  align-items: center;
}
.top-title {
  font-weight: 800;
  max-height: 28px;
  padding: 2px 5px;
  color: #9a9da1;
}
.content-area {
  display: flex;
  width: 100%;
  flex: 2;
}
.right-content {
  flex: 2;
  display: flex;
  height: 100%;
  border-top-left-radius: 10px;
  overflow: hidden;
}
.group-tab {
  width: 70px;
  max-height: calc(100vh - 28px);
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: center;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.group-button {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #36393f;
  border-radius: 50%;
  color: #fff;
  width: 48px;
  height: 48px;
  transition: all 0.1s ease;
  margin: 10px auto;
  cursor: pointer;
  position: relative;
}
.group-button img {
  transition: all 0.1s ease;
  border-radius: 50%;
}
.group-button.active img,
.group-button:hover img {
  border-radius: 10px;
}
.group-button.server::after {
  content: "";
  z-index: 20;
  left: -12px;
  position: absolute;
  height: 0px;
  width: 4px;
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.3s;
}
.group-button.server:hover:after {
  height: 10px;
}
.group-button.server.active::after {
  height: 33px;
}
.group-button.active {
  border-radius: 10px;
  background-color: #5865f2;
}
.group-button .server-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation-play-state: paused;
}
.group-button.logout {
  margin-bottom: 0;
  font-size: 18px;
}
.group-button.create {
  color: #248046;
  font-size: 20px;
  margin-bottom: 0;
}
.group-button.active,
.group-button:hover {
  border-radius: 10px;
  background-color: #5865f2;
}
.group-button.create:hover {
  color: #fff;
  border-radius: 10px;
  background-color: #248046;
}
.group-button.create .group-desc {
  color: #fff;
}
.group-button:hover .group-desc {
  display: block;
}

.group-desc {
  position: fixed;
  font-weight: 600;
  font-size: 14px;
  left: 90px;
  z-index: 20;
  background-color: #18191c;
  padding: 7px;
  border-radius: 4px;
  display: none;
}

.group-desc::after {
  position: absolute;
  left: -18px;
  bottom: 12px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 10px 5px 10px;
  border-color: transparent #18191c transparent transparent;
}
.seperate-line {
  width: 40px;
  height: 2px;
  background-color: #36393f;
  margin: 10px auto;
  border-radius: 10px;
}

.sublist-container {
  display: flex;
  flex-direction: column;
  width: 240px;
  background-color: #2f3136;
}
.sublist-head {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  max-height: 48px;
  border-bottom: 2px solid #202225;
  padding: 0 10px;
}
.sublist-head .server-name {
  text-align: left;
  width: 100%;
  color: #fff;
  font-weight: 600;
}
.find-conversation {
  cursor: pointer;
  padding: 0 10px;
  height: 28px;
  width: 100%;
  text-align: left;
  background-color: #202225;
  color: #8c8f93;
  border-radius: 4px;
  border: none;
}

.sublist-content {
  flex: 2;
  overflow: hidden scroll;
  padding: 10px;
  max-height: calc(100vh - 127px);
}
.sublist-content .members-span {
  font-size: 11px;
  color: #9a9da1;
  font-weight: 600;
}
.member-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 5px;
}
.member-list .member-button {
  width: 100%;
  height: 44px;
  border-radius: 4px;
  background: transparent;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}
.member-list .member-button:hover {
  background-color: rgba(255, 255, 255, 0.188);
}
.member-button .friend-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: #5865f2;
  overflow: hidden;
}
.friend-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sublist-footer {
  background-color: #292b2f;
  height: 52px;
  max-height: 52px;
  padding: 5px;
}
.profile-user-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}
.profile-user {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  display: flex;
  gap: 5px;
  padding: 0 6px;
  align-items: center;
}
.profile-user:hover {
  background-color: rgba(255, 255, 255, 0.188);
  cursor: pointer;
}
.profile-user-settings {
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  width: 32px;
  height: 100%;
}
.profile-user-settings:hover {
  background-color: rgba(255, 255, 255, 0.188);
  cursor: pointer;
}
.profile-pic-img {
  width: 35px;
  height: 35px;
  background-color: #000;
  border: transparent;
  border-radius: 50%;
}
.identity {
  color: #fff;
  font-size: 12px;
}
.identity .name {
  font-size: 14px;
}
.identity span {
  display: block;
  text-align: left;
}
.identity .name {
  font-weight: 600;
}
.chat-section {
  flex: 2 1;
  margin-right: 10px;
  height: calc((100vh - 27px));
  background-color: #313338;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-height: 0;
}
.chat-section .chat-area {
  flex: 2;
  min-height: 0;
}
.chat-group {
  height: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.chat-group > :first-child {
  margin-top: auto !important;
}
.chat-group .chat-box {
  padding: 5px 20px;
  color: #fff;
  display: flex;
}
.chat-box.up-margin {
  margin-top: 15px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.chat-box .chat-pic {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50%;
  object-fit: cover;
}
.chat-box .chat-blank {
  width: 40px;
  margin-right: 20px;
}
.chat-box .chat-detail {
  display: flex;
  flex-direction: column;
}
.chat-box .chat-detail-top {
  display: flex;
  gap: 10px;
  align-items: center;
  height: fit-content;
}
.chat-box .chat-sender {
  font-size: 14px;
  color: #3d47f4;
}
.chat-box .chat-time {
  font-size: 11px;
  color: #70737c;
}
.chat-box .chat-content {
  font-size: 14px;
}
.chat-box.preview .chat-content {
  color: #666666;
}
.chat-group .chat-box:hover {
  background-color: #2e3035;
}
.chat-section .typing-area {
  height: 72px;
  padding: 8px 12px 0 12px;
  width: 100%;
  background-color: #313338;
}
.typing-area .typing-input {
  width: 100%;
  height: calc(100% - 20px);
  background-color: #383a40;
  border: transparent;
  border-radius: 5px;
  outline: none;
  padding: 0 8px;
  color: #fff;
}
.typing-area .typing-status {
  width: 100%;
  height: 15px;
  color: #fff;
  font-size: 12px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.typing-status .name {
  font-weight: 800;
}
.typing-status .typing-dot {
  display: none;
  gap: 5px;
}
.typing-dot.show {
  display: flex;
}
.typing-dot .dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  animation: dot-gradient 1.3s ease-in-out infinite;
}
.typing-dot .dot:nth-child(1) {
  animation-delay: 0s;
}
.typing-dot .dot:nth-child(2) {
  animation-delay: 0.2s;
}
.typing-dot .dot:nth-child(3) {
  animation-delay: 0.4s;
}
.join-card {
  background-color: #383a40;
  padding: 15px;
  min-width: 450px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
}
.join-card .join-title {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  display: block;
}
.join-server-details {
  display: flex;
  margin: 20px;
  justify-content: center;
  gap: 20px;
  padding: 15px;
  background-color: #292b2f;
  border-radius: 10px;
}
.join-server-details .server-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
.join-server-details .server-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.server-detail .server-name {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
.server-detail .member-total {
  border-radius: 10px;
  padding: 2px 10px;
  background-color: #4752c4;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  color: #fff;
}
.server-detail .server-button {
  width: 100%;
  padding: 4px 8px;
  margin-top: 10px;
  border-radius: 2px;
  cursor: pointer;
  background-color: #248046;
  color: #fff;
}
.server-detail .server-button:hover {
  background-color: #1d5432;
}
@keyframes github {
  0% {
    font-size: 3rem;
    transform: rotateZ(0);
  }
  10% {
    font-size: 4rem;
  }
  20% {
    transform: rotateZ(30deg);
  }
  40% {
    transform: rotateZ(-30deg);
  }
  60% {
    transform: rotateZ(30deg);
  }
  80% {
    transform: rotateZ(-30deg);
  }
  100% {
    font-size: 4rem;
    transform: rotateZ(0deg);
  }
}
@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@media only screen and (max-width: 600px) {
  .app-title {
    position: relative;
    align-self: center;
  }
  .login-card,
  .reg-card {
    padding: 15px;
    border-radius: 5px;
  }

  .github-href {
    position: relative;
  }
  .login-card,
  .reg-card {
    position: relative;
  }
}
@keyframes dot {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes dot-gradient {
  0% {
    transform: scale(1) translateY(0%);
    background-color: rgba(255, 255, 255, 0.415);
  }
  50% {
    transform: scale(1.5) translateY(50%);
    background-color: rgb(255, 255, 255);
  }
  100% {
    transform: scale(1) translateY(0%);
    background-color: rgba(255, 255, 255, 0.415);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
